.header-conatiner button {
    -webkit-app-region: no-drag;
    margin-left: 10px;
    font-size: 65%;
    margin-bottom: 2px
}

.header-conatiner button.close-button:hover {
    background-color: brown
}