.bitcoin-big-symbol {
    font-size: 500%
}

.ethereum-big-symbol {
    font-size: 500%;
    color: steelblue
}

.dollar-big-symbol {
    font-size: 500%;
    color: #e7ebd4
}

.window-title {
    font-size: 120%;
    font-weight: bold;
    text-shadow: 2px 2px 25px #adadb5;
    margin-left: 20px
}